/Library
/Temp
/obj
/Docs/Archive
*.csproj
*.sln
/.vs
*.unversion.json
*.swap
Packages/packages-lock.json
/Assets/Resources/Internal/Setting/PREF.json
/Assets/Resources/Internal/Setting/PREF.json.meta
/Assets/Resources/Internal/Setting/PLAT.json
/Assets/Resources/Internal/Setting/PLAT.json.meta
/UserSettings
/Logs
/Docs/Local
/Docs/Settings
/Assets/Scripts/LUA/.idea/workspace.xml
/*.txt
/*.dll
Assets/RawAssets/Raw/Scene/WSYD/WSYD.meta
.vscode/settings.json
/Assets/Plugins/Library/Oculus/OVRBuildConfig.asset
/Assets/Plugins/Library/Oculus/OVRBuildConfig.asset.meta
/Assets/Plugins/Windows.meta
/Assets/Plugins/Android
/Assets/Plugins/iOS
/Assets/Plugins/Windows
/Assets/Plugins/Android.meta
/Assets/Plugins/iOS.meta
/Assets/Plugins/Library/Oculus/Spatializer
/Assets/Plugins/Library/Oculus/Spatializer.meta
/Assets/RiderFlow.UserData.meta
/Assets/RiderFlow.UserData
.idea
/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains.RiderFlow
/Assets/Plugins/Editor/JetBrains.RiderFlow.meta
/*.user
/unityProject.vrmanifest
/Docs/Preferences/liulwip.json